<main class="page-content">
  <div class="container-fluid">

    <span class="alert alert-success text-center" *ngIf="this.messageService.messageSucces">{{ this.messageService.messageSucces }}</span>
    <span class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur">{{ this.messageService.messageErreur }}</span>

    <br><h2 class="text-center">Modifier une sortie</h2>
    <p class="text-center">Modifiez une activité pour vous et vos amis</p>

    <div class="row verticalalign">
      <div class="col-2">
      </div>
      <div class="col-8 border rounded p-3 mb-3">
        <form [formGroup]="newSortieForm">
          <div class="row">
            <div class="col-6">
              <div class="group">
                <input type="text" class="form-control" id="nom" formControlName="nom"  value="" required>
                <span class="highlight"></span>
                <label>Nom de la sortie</label>
              </div>
              <div class="group">
                <input type="datetime-local" class="form-control" id="date" formControlName="date"   value="" >
                <span class="highlight"></span>
                <label>Date de la sortie</label>
              </div>
              <div class="group">
                <input type="datetime-local" class="form-control" id="dateLimite" formControlName="dateLimite"   value="" >
                <span class="highlight"></span>
                <label>Date limite d'inscription</label>
              </div>
              <div class="group">
                <input type="number" min="0" class="form-control" id="nbInscriptionMax" formControlName="nbInscriptionMax"   value="" >
                <span class="highlight"></span>
                <label>Nombre maximum de participants</label>
              </div>
              <div class="group">
                <input type="number" min="0" class="form-control" id="duree" formControlName="duree"   value="" >
                <span class="highlight"></span>
                <label>Durée (en minutes)</label>
              </div>
              <div class="group">
                <textarea placeholder="Description et infos" class="form-control" id="infosSortie" formControlName="infosSortie" style="height: 95px"   value="" ></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="group">
                <input type="text" class="form-control" id="site" formControlName="site"  value=""  disabled>
                <span class="highlight"></span>
                <label>Ville organisatrice</label>
              </div>
              <div class="group">
                <div class="row" id="rowVille">
                  <div class="col-10">
                    <select name="ville" id="ville" formControlName="ville" class="form-control" value="" required>
                      <option selected disabled>--Choisissez une ville--</option>
                    </select>
                  </div>
                  <div class="col-2 justify-content-center">
                    <button type="button" class="btn btn-togetout" id="ville-CSS" (click)="villeFormAppend('rowVille')" id="addVilleBouton"><i *ngIf="villeNonAffichee" class="fas fa-plus"></i><i *ngIf="villeAffichee" class="fas fa-minus rounded"></i></button>
                  </div>
                </div>
              </div>
              <div *ngIf="villeAffichee">
                <ng-container *ngComponentOutlet="ville"></ng-container>
              </div>
              <div class="group">
                <div class="row" id="rowLieu">
                  <div class="col-10">
                    <select name="lieu" id="lieu" formControlName="lieu" class="form-control" required>
                      <option selected disabled>--Choisissez un lieu--</option>
                    </select>
                  </div>
                  <div class="col-2 justify-content-center">
                    <button type="button" class="btn btn-togetout" id="lieu-CSS" (click)="lieuFormAppend('rowLieu')" id="addLieuBouton"><i *ngIf="lieuNonAffiche" class="fas fa-plus"></i><i *ngIf="lieuAffiche" class="fas fa-minus rounded"></i></button>
                  </div>
                </div>
              </div>
              <div *ngIf="lieuAffiche">
                <ng-container *ngComponentOutlet="lieu"></ng-container>
              </div>
              <div class="group">
                <input type="text" class="form-control" id="rue" formControlName="rue" value=""  disabled>
                <span class="highlight"></span>
                <label>Rue</label>
              </div>
              <div class="group">
                <input type="text" class="form-control" id="codePostal" formControlName="codePostal" value="" disabled>
                <span class="highlight"></span>
                <label>Code postal</label>
              </div>
              <div class="group">
                <input type="text" class="form-control" id="latitude" formControlName="latitude" value="" disabled>
                <span class="highlight"></span>
                <label>Latitude</label>
              </div>
              <div class="group">
                <input type="text" class="form-control" id="longitude" formControlName="longitude" value=""  disabled>
                <span class="highlight"></span>
                <label>Longitude</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
              <button type="button" (click)="onSubmitForm('enregistrer')" class="btn btn-togetout" id="enregistrer">Enregistrer</button>
            </div><div class="col-2">
            <button type="button" (click)="onSubmitForm('publier')" class="btn btn-togetout" id="publier">Publier la sortie</button>
          </div><div class="col-2">
            <button type="button" (click)="onSubmitForm('supprimer')" class="btn btn-togetout" id="supprimer">Supprimer la sortie</button>
          </div><div class="col-2">
            <button type="button" routerLink="/" class="btn btn-togetout">Annuler</button>
          </div>
            <div class="col-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
