<main class="page-content">
  <div class="container-fluid">

    <p class="alert alert-success text-center" *ngIf="this.messageService.messageSucces" (click)="clearMessageSucces()">{{ this.messageService.messageSucces }}</p>
    <p class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur" (click)="clearMessageErreur()">{{ this.messageService.messageErreur }}</p>

    <br><h2 class="text-center">Modifier une sortie</h2>
    <p class="text-center">Modifiez une activité pour vous et vos amis</p>

    <div class="row verticalalign">
      <div class="col-2">
      </div>
      <div class="col-8 border rounded p-3 mb-3">
        <form [formGroup]="SortieForm">
          <div class="row">
            <div class="col-6">
              <div class="group">
                <input type="text" class="form-control details" id="nom" formControlName="nom">
                <span class="highlight"></span>
                <label>Nom de la sortie</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="date" formControlName="date">
                <span class="highlight"></span>
                <label>Date de la sortie</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="dateLimite" formControlName="dateLimite">
                <span class="highlight"></span>
                <label>Date limite d'inscription</label>
              </div>
              <div class="group">
                <input type="number" min="0" class="form-control details" id="nbInscriptionMax" formControlName="nbInscriptionMax">
                <span class="highlight"></span>
                <label>Nombre maximum de participants</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="duree" formControlName="duree">
                <span class="highlight"></span>
                <label>Durée (en minutes)</label>
              </div>
              <div class="group">
                <textarea placeholder="Description et infos" class="form-control details" id="infosSortie" formControlName="infosSortie" style="height: 95px"></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="group">
                <input type="text" class="form-control details" id="site" formControlName="site">
                <span class="highlight"></span>
                <label>Ville organisatrice</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="lieu" formControlName="lieu">
                <span class="highlight"></span>
                <label>Ville organisatrice</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="rue" formControlName="rue">
                <span class="highlight"></span>
                <label>Rue</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="codePostal" formControlName="codePostal">
                <span class="highlight"></span>
                <label>Code postal</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="latitude" formControlName="latitude">
                <span class="highlight"></span>
                <label>Latitude</label>
              </div>
              <div class="group">
                <input type="text" class="form-control details" id="longitude" formControlName="longitude">
                <span class="highlight"></span>
                <label>Longitude</label>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
              <button type="button" (click)="onSubmitForm('enregistrer')" class="btn btn-togetout" id="enregistrer">Enregistrer</button>
            </div><div class="col-2">
            <button type="button" (click)="onSubmitForm('publier')" class="btn btn-togetout" id="publier">Publier la sortie</button>
          </div><div class="col-2">
            <button type="button" (click)="onSubmitForm('supprimer')" class="btn btn-togetout" id="supprimer">Supprimer la sortie</button>
          </div><div class="col-2">
            <button type="button" routerLink="/" class="btn btn-togetout">Annuler</button>
          </div>
            <div class="col-2"></div>
          </div>

          <br>
          <h2>Participants</h2>
          <table id="listeParticipant" class="table">
            <thead class="thead-dark">
            <tr>
              <th>Pseudo</th>
              <th>Nom</th>
              <th>Prénom</th>
            </tr>
            </thead>
            <tr *ngFor="let participant of sortie.participants">
              <td>{{ participant.username }}</td>
              <td>{{ participant.nom }}</td>
              <td>{{ participant.prenom }}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</main>
