/* TWEAKS */

body{
  background-image: radial-gradient(circle at center, white 100px, green 99%);
}

main{
  vertical-align: middle;
}

.verticalalign{
  display: flex;
  align-items: center;
  text-align: center;

}

/* GESTION DES INPUT FORMS */

.group 			  {
  position:relative;
  margin-bottom:20px;
}

input 				{
  font-size:18px;
  padding:10px 10px 2px 15px;
  display:block;
  width:300px;

}
input:focus 		{
  outline:none;
  padding:10px 10px 2px 15px;
}

input:not(:placeholder-shown) {
  outline:none;
  padding:10px 10px 2px 15px;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-0px;
  font-size:12px;
  color:#5264AE;
}



/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
