<div class="row verticalalign">
  <div class="col-lg-6 col-md-4 col-sm-12 col-12">
    <img src="../../assets/img/ToGetOut Home2.png" class="img-fluid"/>


   </div>

  <div class="col-lg-4 col-md-6 col-sm-12 col-12 border rounded p-3 mb-3">
    <h3 class="text-center">ToGetOut</h3>
    <p class="text-center">Inscrivez-vous pour participer à des activités<br> et vous faire des nouveaux amis.</p>

    <span class="alert alert-success text-center" *ngIf="this.messageService.messageSucces">{{ this.messageService.messageSucces }}</span>
    <span class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur">{{ this.messageService.messageErreur }}</span>

    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmitForm()">

      <div class="group">
        <input type="text" class="form-control" id="username" formControlName="username"  required>
        <span class="highlight"></span>
        <label>Pseudonyme</label>
      </div>

      <div class="group">
        <input type="text" class="form-control" id="nom" formControlName="nom" required>
        <span class="highlight"></span>
        <label>Nom</label>
      </div>

      <div class="group">
        <input type="text" class="form-control" id="mail" formControlName="mail" required>
        <span class="highlight"></span>
        <label>Mail</label>
      </div>

      <div class="group">
        <input type="password" class="form-control" id="plainPassword" formControlName="plainPassword" required>
        <span class="highlight"></span>
        <label>Mot de Passe</label>
      </div>

      <button type="submit" class="btn btn-togetout" [disabled]="inscriptionForm.invalid">S'inscrire</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="offset-lg-6 col-lg-4 offset-md-4 col-md-6 col-sm-12 col-12 border rounded p-3 mb-3">
    <p class="text-center">Vous avez déjà un compte ? <a [routerLink]="['/login']">Connectez-vous !</a></p>
  </div>

</div>
<div class="row">
  <div class="offset-lg-6 col-lg-4 offset-md-4 col-md-6 col-sm-12 col-12">
    <p class="text-center">Télécharger l'application.<br><br>
      <img src="../../assets/img/availableGooglePlay.png" height="40"/>
      <img src="../../assets/img/availableAppStore.png" height="40"/>
    </p>
  </div>

</div>
