  <div class="card">
    <div class="additional">

      <a routerLink="['profil', 1]">
        <div class="user-card">
          <div class="level center">
            {{ sortie.organisateur.username }}
          </div>
          <div class="points center">
            {{ sortie.organisateur.site.nom }}
          </div>
          <img src="/assets/img/profil.jpg" width="80px" class="rounded-circle profil"/>
        </div>
      </a>

      <div class="more-info">
        <h5>{{ sortie.nom }}</h5>

        <div class="coords">
          <span>Prévue le</span>
          <span>{{ sortie.dateHeureDebut | date:'dd/MM/yy - HH:mm' }}</span>
        </div>
        <div class="coords">
          <span>Ville</span>
          <span>{{ sortie.lieu.ville.nom }}</span>
        </div>
        <div class="coords">
          <span>Lieu</span>
          <span>{{ sortie.lieu.nom }}</span>
        </div>
        <div class="stats">

          <div>
            <div class="title">Inscrits</div>
            <i class="fa fa-group"></i>
            <div class="value">{{sortie.participants.length}}/{{sortie.nbInscriptionMax}}</div>
          </div>

          <div>
            <a (click)="detailSortie()"><div class="title">Détails</div>
              <i class="fas fa-eye"></i>
              <div class="value"></div>
            </a>
          </div>

          <div *ngIf="organisateur">
            <a (click)="editSortie()"><div class="title">Editer</div>
              <i class="fas fa-edit"></i>
              <div class="value"></div>
            </a>
          </div>


          <div *ngIf="!inscrit">
            <a (click)="participerSortie()"><div class="title">Participer</div>
              <i class="fas fa-user-plus"></i>
              <div class="value"></div></a>
          </div>

          <div *ngIf="inscrit">
          <a (click)="desinscrireSortie()"><div class="title">Désinscrire</div>
            <i class="fas fa-trash"></i>
            <div class="value"></div></a>
        </div>



        </div>
      </div>
    </div>
    <div class="general">
    <h5>{{ sortie.nom }}</h5>
      <p>{{ sortie.infosSortie }}</p>

    </div>
  </div>

