  <div class="card">
    <div class="additional">

      <a routerLink="['profil', 1]">
        <div class="user-card">
          <div class="level center">
            Mathilde Pouette
          </div>
          <div class="points center">
            26 ans
          </div>
          <img src="/assets/img/profil.jpg" width="80px" class="rounded-circle profil"/>
        </div>
      </a>

      <div class="more-info">
        <h5>{{titre}}</h5>
        <div class="coords">
          <span>Sortie prévue le</span>
          <span>17 Janvier 2019</span>
        </div>
        <div class="coords">
          <span>Ville</span>
          <span>Nantes</span>
        </div>
        <div class="coords">
          <span>Lieu</span>
          <span>Place Bouffay</span>
        </div>
        <div class="stats">

          <div>
            <div class="title">Inscrits</div>
            <i class="fa fa-group"></i>
            <div class="value">10/20</div>
          </div>
          <div>
            <div class="title">Détails</div>
            <i class="fas fa-eye"></i>
            <div class="value"></div>
          </div>

        </div>
      </div>
    </div>
    <div class="general">
      <h5>{{titre}}</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>

    </div>
  </div>

