<nav class="navbar fixed-top navbar-expand-lg navbar-togetout bg-togetout">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><img src="../../assets/img/ToGetOutx1.png" alt="togetout logo" height="50" width="150"/></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creer">Créer une sortie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Rechercher une sortie</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div *ngIf="authService.authenticated; else notAuthenticated">

        <a routerLink="/editProfile"><button class="btn btn-togetout mx-2">Modifier Mon Profil</button></a>
        <a (click)="authService.logout()"><button class="btn btn-togetout mx-2">Déconnexion</button></a>
      </div>
      <ng-template #notAuthenticated>
        <a routerLink="/login"><button class="btn btn-togetout mx-2">Connexion</button></a>
        <a routerLink="/inscription"><button class="btn btn-togetout mx-2">Inscription</button></a>
      </ng-template>
    </div>
  </div>
</nav>
