<main class="page-content">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
        <h2>Modifier profil</h2>
        <br>
        <span class="alert alert-success text-center" *ngIf="this.messageService.messageSucces">{{ this.messageService.messageSucces }}</span>
        <span class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur">{{ this.messageService.messageErreur }}</span>
      </div>
    </div>
    <hr>
    <div class="row"  style="align-items: center; text-align:center">
      <!-- left column -->
      <div class="offset-lg-1 col-lg-4 col-md-12 col-sm-12 col-12 border rounded p-3 mb-3">
          <div class="row">
            <div class="col-12">
              <img src="/assets/img/profil.jpg" class="avatar img-circle" alt="avatar">
            </div>
          </div>
          <div class="row">
            <div class="col-12 parent-div ">
              <button class="btn-upload">Changer de photo de profil</button>
              <input type="file" name="upfile">
            </div>
          </div>
        <br>
      </div>

      <!-- edit form column -->
      <div class="offset-lg-1 col-lg-5 col-md-12 col-sm-12 col-12 border rounded p-3 mb-3">
        <h3>Informations Personnelles : </h3>
        <form [formGroup]="editForm" (ngSubmit)="onSubmitForm()">
          <div class="group">
            <input type="text" class="form-control" id="username" formControlName="username" required>
            <span class="highlight"></span>
            <label>Pseudonyme</label>
          </div>

          <div class="group">
            <input type="text" class="form-control" id="prenom" formControlName="prenom" required>
            <span class="highlight"></span>
            <label>Prenom</label>
          </div>

          <div class="group">
            <input type="text" class="form-control" id="nom" formControlName="nom" required>
            <span class="highlight"></span>
            <label>Nom</label>
          </div>

          <div class="group">
            <input type="text" class="form-control" id="telephone" formControlName="telephone"  required>
            <span class="highlight"></span>
            <label>Téléphone</label>
          </div>

          <div class="group">
            <input type="text" class="form-control" id="email" formControlName="email"  required>
            <span class="highlight"></span>
            <label>Email</label>
          </div>

          <div class="group">
            <input type="password" class="form-control" id="password" formControlName="password"  disabled>
            <span class="highlight"></span>
            <label>Mot de passe</label>
          </div>

          <div class="group">
            <input type="password" class="form-control" id="passwordconfirm" formControlName="passwordconfirm" disabled>
            <span class="highlight"></span>
            <label>Confirmation mot de passe</label>
          </div>

          <div class="group">
            <input type="text" class="form-control" id="villeRattachement" formControlName="villeRattachement"  required>
            <span class="highlight"></span>
            <label>Site</label>
          </div>
          <div class="row">
            <div class="col-6" style="padding-top: 40px">
              <button style="width: 110px" type="submit" class="btn-togetout center">Modifier</button>
            </div>
            <div class="col-6" style="padding-top: 40px">
              <button style="width: 110px" routerLink="/" class="btn-togetout center">Annuler</button>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</main>
