<main class="page-content">
  <div class="container-fluid">
    <p class="alert alert-success text-center" *ngIf="this.messageService.messageSucces">{{ this.messageService.messageSucces }}</p>
    <p class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur">{{ this.messageService.messageErreur }}</p>

<h3>Filtrer les sorties</h3>

<form [formGroup]="searchForm" (ngSubmit)="onSubmitForm()">
  <div class="input-group group">
    <select name="ville" id="ville" formControlName="ville" class="form-control">
      <option value="" disabled selected hidden>Choisissez votre ville</option>
      <option *ngFor="let ville of this.villeService.villes" value='{{ ville.id }}'>{{ ville.nom }}</option>
    </select>
  </div>

  <div class="group">
  <input type="text" formControlName="recherche" class="form-control" placeholder="">
    <span class="highlight"></span>
    <label>Recherche</label>
  </div>


  <div class="input-group group">
    <div class="input-group-prepend">
      <span class="input-group-text">Entre</span>
    </div>
    <input type="date" formControlName="dateDebut" class="form-control" placeholder="Date de Début">
    <input type="time" formControlName="heureDebut" class="form-control mr-5" placeholder="Heure de Début">


    <div class="input-group-prepend ml-5">
      <span class="input-group-text">Et</span>
    </div>
    <input type="datetime-local" formControlName="dateFin" class="form-control" placeholder="Date de Fin">
    <input type="time" formControlName="heureFin" class="form-control mr-2" placeholder="Heure de Fin">
  </div>

  <div class="input-group group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" formControlName="cbxOrganisateur" class="custom-control-input togetout-checkbox" id="sortieOrganisateur">
      <label class="custom-control-label" for="sortieOrganisateur">Sorties dont je suis l'organisateur</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" formControlName="cbxInscrit" class="custom-control-input togetout-checkbox" id="sortieInscrit" checked>
      <label class="custom-control-label" for="sortieInscrit">Sorties auxquelles je suis inscrit</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" formControlName="cbxNonInscrit" class="custom-control-input togetout-checkbox" id="sortiePasInscrit">
      <label class="custom-control-label" for="sortiePasInscrit">Sorties auxquelles je ne suis pas inscrit</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" formControlName="cbxPassees" class="custom-control-input togetout-checkbox" id="sortiePassees">
      <label class="custom-control-label" for="sortiePassees">Sorties passées</label>
    </div>
  </div>

  <div class="input-group group float-right">
  <button type="submit" class="btn btn-togetout offset-11" [disabled]="searchForm.invalid">Filtrer les sorties</button>
  </div>

</form>


<table class="table">
  <!-- Table head -->
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Nom de la sortie</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Date de la sortie</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Clôture</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Inscrits/Places</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Etat</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Inscrit</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Organisateur</th>
    <th><i class="fas fa-leaf mr-2" aria-hidden="true"></i>Action</th>
  </tr>
  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td><i class="far fa-gem mr-2 grey-text" aria-hidden="true"></i>Mathilde fait la cuisine</td>
    <td><i class="fas fa-download mr-2 grey-text" aria-hidden="true"></i>12/01/2019 23h59</td>
    <td><i class="fas fa-book mr-2 grey-text" aria-hidden="true"></i>13/01/2019</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>6/9</td>
    <td><i class="fas fa-gift mr-2 grey-text" aria-hidden="true"></i>Ouverte</td>
    <td><i class="fas fa-image mr-2 grey-text" aria-hidden="true"></i>Oui</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>Mathilde P.</td>
    <td>
      <i class="fas fa-eye"></i>
      <i class="fas fa-toggle-on"></i>
      <i class="fas fa-toggle-off"></i>
      <i class="fas fa-trash-alt"></i>
      <i class="fas fa-edit"></i>
      <i class="fas fa-upload"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td><i class="far fa-gem mr-2 grey-text" aria-hidden="true"></i>Mathilde passe l'aspirateur</td>
    <td><i class="fas fa-download mr-2 grey-text" aria-hidden="true"></i>12/01/2019 23h59</td>
    <td><i class="fas fa-book mr-2 grey-text" aria-hidden="true"></i>13/01/2019</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>6/9</td>
    <td><i class="fas fa-gift mr-2 grey-text" aria-hidden="true"></i>Ouverte</td>
    <td><i class="fas fa-image mr-2 grey-text" aria-hidden="true"></i>Oui</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>Mathilde P.</td>
    <td>
      <i class="fas fa-eye"></i>
      <i class="fas fa-toggle-on"></i>
      <i class="fas fa-toggle-off"></i>
      <i class="fas fa-trash-alt"></i>
      <i class="fas fa-edit"></i>
      <i class="fas fa-upload"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td><i class="far fa-gem mr-2 grey-text" aria-hidden="true"></i>Mathilde épluche les tomates</td>
    <td><i class="fas fa-download mr-2 grey-text" aria-hidden="true"></i>12/01/2019 23h59</td>
    <td><i class="fas fa-book mr-2 grey-text" aria-hidden="true"></i>13/01/2019</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>6/9</td>
    <td><i class="fas fa-gift mr-2 grey-text" aria-hidden="true"></i>Ouverte</td>
    <td><i class="fas fa-image mr-2 grey-text" aria-hidden="true"></i>Oui</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>Mathilde P.</td>
    <td>
      <i class="fas fa-eye"></i>
      <i class="fas fa-toggle-on"></i>
      <i class="fas fa-toggle-off"></i>
      <i class="fas fa-trash-alt"></i>
      <i class="fas fa-edit"></i>
      <i class="fas fa-upload"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td><i class="far fa-gem mr-2 grey-text" aria-hidden="true"></i>Mathilde étend le linge</td>
    <td><i class="fas fa-download mr-2 grey-text" aria-hidden="true"></i>12/01/2019 23h59</td>
    <td><i class="fas fa-book mr-2 grey-text" aria-hidden="true"></i>13/01/2019</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>6/9</td>
    <td><i class="fas fa-gift mr-2 grey-text" aria-hidden="true"></i>Ouverte</td>
    <td><i class="fas fa-image mr-2 grey-text" aria-hidden="true"></i>Oui</td>
    <td><i class="fas fa-graduation-cap mr-2 grey-text" aria-hidden="true"></i>Mathilde P.</td>
    <td>
      <i class="fas fa-eye"></i>
      <i class="fas fa-toggle-on"></i>
      <i class="fas fa-toggle-off"></i>
      <i class="fas fa-trash-alt"></i>
      <i class="fas fa-edit"></i>
      <i class="fas fa-upload"></i>
    </td>
  </tr>

  </tbody>
  <!-- Table body -->
</table>
<!-- Table  -->
  </div>
</main>
