<main class="page-content">
  <div class="container-fluid">
    <p class="alert alert-success text-center" *ngIf="this.messageService.messageSucces">{{ this.messageService.messageSucces }}</p>
    <p class="alert alert-warning text-center" *ngIf="this.messageService.messageErreur">{{ this.messageService.messageErreur }}</p>
    <h2>Vos sorties</h2>
    <h3>Vous êtes inscrit à ces sorties</h3>

    <div class="row sortiesInscrites">
        <app-card *ngFor="let sortie of listeSortiesInscrits" [sortie]=sortie></app-card>
    </div>

    <h3>Vous êtes organisateur de ces sorties</h3>

    <div class="row sortiesOrganisees">
      <app-card *ngFor="let sortie of listeSortiesOrganisateurs" [sortie]="sortie"></app-card>
    </div>

    <h2>Les sorties à venir</h2>
    <h3>Cette semaine</h3>
    <hr>
    <div class="row sortiesEnHuit">
      <app-card *ngFor="let sortie of listeSortiesSemaineActuelle"  [sortie]="sortie"></app-card>
    </div>

    <h3>La semaine prochaine</h3>
    <hr>
    <div class="row sortiesEnQuinze">
      <app-card *ngFor="let sortie of listeSortiesSemaineProchaine"  [sortie]="sortie"></app-card>
    </div>
  </div>
</main>
