<span class="alert alert-success">{{ this.authService.reponseSucces }}</span>

    <h2>Vos sorties</h2>
    <h3>Vous êtes inscrit à ces sorties</h3>
   <!-- sortiesInscrits;
    sortiesOrganisateurs;
    sortiesSemaineActuelle;
    sortiesSemaineProchaine; -->
    <div class="row">
        <!--<app-card *ngFor="let sortie of sortiesInscrits"></app-card>-->

    </div>

    <h3>Vous êtes organisateur de ces sorties</h3>

    <div class="row">
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
    </div>

    <h2>Les sorties à venir</h2>
    <h3>Cette semaine</h3>
    <hr>
    <div class="row">
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
    </div>

    <h3>La semaine prochaine</h3>
    <hr>
    <div class="row">
      <app-card titre="Volley Ball"></app-card>
      <app-card titre="Barbecue dominical"></app-card>
      <app-card titre="Cours de danse"></app-card>
      <app-card titre="Cours de danse"></app-card>
    </div>
n
