<div class="row verticalalign">
  <div class="col-lg-6 col-md-5 col-sm-12 col-12">
    <img src="../../assets/img/ToGetOut Home2.png" class="img-fluid"/>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-12 col-12 border rounded p-3 mb-3">
    <h3 class="text-center">ToGetOut</h3>
    <p class="text-center">Connectez-vous pour participer à des activités<br> et vous faire des nouveaux amis.</p>

    <span class="alert alert-success text-center" *ngIf="this.authService.reponse">{{this.authService.reponse['messageOk']}}</span> <!-- Message succes inscription -->
    <span class="alert alert-warning text-center" *ngIf="this.authService.reponseErreur">{{this.authService.reponseErreur}}</span> <!-- Message erreur login -->
    <span class="alert alert-warning text-center" *ngIf="this.authService.reponseSucces">{{this.authService.reponseSucces}}</span> <!-- Message succes logout -->
    <div class="container-fluid">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="group">
          <input type="text" class="form-control" id="login" formControlName="login"  required>
          <span class="highlight"></span>
          <label>Login</label>
        </div>
        <div class="group">
          <input type="password" class="form-control" id="plainPassword" formControlName="plainPassword"  required>
          <span class="highlight"></span>
          <label>Mot-de-passe</label>
        </div>
        <div class="row">
          <div class="form-check col-4">
            <input type="checkbox" id="rememberMe" class="form-check-input" formControlName="rememberMe">
            <label class="form-check-label">Se souvenir de moi</label>
          </div>
          <div class="col-8">
            <button type="submit" class="btn btn-togetout" [disabled]="loginForm.invalid">Se connecter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-lg-6 col-lg-4 offset-md-5 col-md-5 col-sm-12 col-12 border rounded p-3 mb-3">
    <p class="text-center">Vous n'avez pas de compte ? <a [routerLink]="['/inscription']">Inscrivez-vous !</a></p>
  </div>
</div>
<div class="row">
  <div class="offset-lg-6 col-lg-4 offset-md-5 col-md-5 col-sm-12 col-12">
    <p class="text-center">Télécharger l'application.<br><br>
      <img src="../../assets/img/availableGooglePlay.png" height="40"/>
      <img src="../../assets/img/availableAppStore.png" height="40"/>
    </p>
  </div>

</div>


